* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("assets/images/water-glass-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}